<h3>Child Counter: {{counter}}</h3>
<div *ngIf="stopped">
  <h1>Congratulations!</h1>
  <h3>You stopped the child component's counter!</h3>
</div>
<button [disabled]="stopped" class="btn btn-primary" (click)="buttonClicked()">Click Me!</button>