<div>
  <h1>Congratulations!</h1>
  <h4>You got your component to display!</h4>
  <hr>
  <h5>How does your event look below?</h5>

  <div class="details-card">
    <div class="details-card-row">
      <div>Event: </div>
      <div>{{event.name}}</div>
    </div>
    <div class="details-card-row">
      <div>Date: </div>
      <div>{{event.date}}</div>
    </div>
    <div class="details-card-row">
      <div>Time: </div>
      <div>{{event.time}}</div>
    </div>
    <div class="details-card-row">
      <div>Address: </div>
      <div>
        <events-address [address]="event.location"></events-address>
      </div>
    </div>
  </div>
</div>