<div *ngIf="currentCounter && !child1.stopped">
  <h1>Congratulations!</h1>
  <h3>You set the parent's counter to: {{currentCounter}}</h3>
</div>
<app-child #child1 (buttonClick)="handleChildButtonClick($event)"></app-child>
<button style="margin-left: 5px;" class="btn btn-primary" (click)="child1.stopTimer()">Stop Timer</button>